.container{
  background-color:white;
  padding-top: 60px;
  width:100%;
  /* border: 1px solid #e5e5e5; */
}

.center{
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 300px;
    background-color: #e5e5e5;
    text-align: center;
}
