<div id="div_conatiner" class="container">
  <form id="form_action" >
      <div id="div_parent" class="parent">
          <input id="lang_01" type="checkbox" value="Tamil"/> Tamil  <br/>
          <input id="lang_02" type="checkbox" value="English"/>English <br/>
          <input id="lang_03" type="checkbox" value="Telugu"/>Telugu <br/>
          <input id="lang_04" type="checkbox" value="Malayalam"/>Malayalam <br/>
          <input id="lang_05" type="checkbox" value="Bengali"/>Bengali <br/>
      </div>

      <div id="div_action" class="action">
          <button id="add" type="button" onclick="Addtochild();">Add</button>
          <button id="remove" type="button" onclick="removefromChild();">clear</button>
      </div>

      <div id="div_child" class="child">
              <input id="lang_01c" type="checkbox" value="Tamil" style="display: none"/>Tamil <br/>
              <input id="lang_02c" type="checkbox" value="English" style="display: none"/>English<br/>
              <input id="lang_03c" type="checkbox" value="Telugu" style="display: none"/>Telugu <br/>
              <input id="lang_04c" type="checkbox" value="Malayalam" style="display: none"/>Malayalam<br/>
              <input id="lang_05c" type="checkbox" value="Bengali" style="display: none"/>Bengali <br/>
      </div>
  </form>
</div>
