<div id="div_signup" class="signup_container">
<table style="padding-top:75px;">
  <tr>
    <td>
      <label id="lbl_username" class="lbl_usrname" for="inp_username">User Name:</label>
    </td>
    <td>
      <input id="inp_username" class="inp_username" >
    </td>
  </tr>
  <tr>
      <td>
        <label id="lbl_pswd" class="lbl_pswd" for="inp_pswd">Password:</label>
      </td>
      <td>
        <input id="inp_pswd" class="inp_pswd"  type="password">
      </td>
  </tr>
  <tr>
        <td>

        </td>
        <td>
          <input id="btn_submit" class="btn submit" type="button" value="Submit">
          <input id="btn_cancel" class="btn cancel" type="button" value="Cancel">
        </td>
  </tr>
</table>
</div>
